.title {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
}

.item-form {
    margin-top: 15px;
}

form input {
    width: 100%;
    outline: none;
    padding: 10px 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

form button {
    margin-top: 20px;
    width: 100%;
    border: none;
    color: white;
    background-color: #0BAB7C;
    border-radius: 5px;
    padding: 10px 0px;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
}

.icons button {
    padding: 20px 25px;
    border: none;
    border: 1px solid #0BAB7C;
    border-radius: 10px;
    background: none;
    color: #0BAB7C;
}

.info-toast {
    font-size: 14px;
    padding: 20px 0px;
    text-align: center;
    position: fixed;
    margin-top: 20px;
    left: 0px;
    right: 0px;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    z-index: 102;
    width: 350px;
    background-color: #333333;
    color: white;
    animation: aparecer 0.3s normal;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.content-home {
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100vh;
}

.menu-home {
    height: 100%;
    background-color: #1D212D;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.items-menu p {
    cursor: pointer;
}

.option-active {
    text-decoration: underline;
}

.menu-home img {
    width: 60%;
    margin-top: 50px;
}

.body-home {
    padding: 20px;
}

.head-date {
    cursor: pointer;
}

.status-user {
    cursor: pointer;
}

.head-date:hover {
    background-color: #f9f9f9;
}

.head-status {
    cursor: pointer;
}

.head-status:hover {
    background-color: #f3f3f3;
}

.search {
    display: flex;
    justify-content: space-between;
}

.find-dni {
    display: flex;
    align-items: center;
}

.find-dni input {
    outline: none;
    border: 1px solid gray;
    margin-left: 5px;
    padding: 3px 5px;
}

.btn-main {
    background-color: #0BAB7C;
    padding: 5px 12px;
    border: none;
    color: white;
    border-radius: 3px;
}

.coords {
    cursor: pointer;
}

.coords:hover {
    text-decoration: underline;
}

.btn-out {
    border: none;
    background: none;
    padding: 3px 15px;
    background-color: white;
    border-radius: 3px;
}