h1 {
    text-align: center;
    margin-bottom: 50px;
}

.item-form {
    margin-top: 15px;
}

form input {
    width: 100%;
    outline: none;
    padding: 10px 10px;
    border: none;
    background-color: #F3F2E9;
    border-radius: 5px;
}

form button {
    margin-top: 20px;
    width: 100%;
    border: none;
    color: white;
    background-color: #0BAB7C;
    border-radius: 5px;
    padding: 10px 0px;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
}

.icons button {
    padding: 20px 25px;
    border: none;
    border: 1px solid #0BAB7C;
    border-radius: 10px;
    background: none;
    color: #0BAB7C;
}